/*
* Variables except color
*/

// These variable are used in mixin
$default-scale: 1;
$gutter: 0;

//break point
$break-small: 480px;
$break-medium: 768px;
$break-large: 1024px;

//path
$path-image: '../../img/';
$path-font: '../../fonts/';

// base color
$color-black: #1e1e1b;
$color-white: #fff;
$color-beige: #dccfbe;
$color-gray: #aaa;
$color-lightgray: #eee;

// base fonts
$font-header: 'Helvetica Neue', sans-serif;
$font-link: 'Lato', sans-serif;
// $font-title: 'Playfair Display', serif;
$font-title: 'Abril Fatface', cursive;
$font: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif 'Hannari', '游明朝体', 'Yu Mincho', YuMincho, 'ヒラギノ明朝 Pro', 'Hiragino Mincho Pro', 'MS P明朝', 'MS PMincho', serif;

// base font size
$base-font-size: 1.5rem;
$base-line-height: 1.6;
$base-letter-spacing: 0.12em;

//animation
// $duration: .1s;
// $easing: linear;
// $delay: .35s;

//etc
// $site-size: 1124px+60;
// $z-max: 10;
// $opacity: .8;