// mixin
@mixin retina {

  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx) {
    @content;
  }
}

@mixin query($size) {
  @media all and (max-width: $size) {
    @content;
  }
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: unset;
}
body{
  line-height: 0;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: inherit;

  &:hover {
    // opacity: 0.7;
  }
}

img {
  width: 100%;
}

a {}

a:hover {}

// font-size
.fs--12 {
  font-size: 1.2rem;
}

.tag {
  margin-right: 5px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-size: 1.2rem;
}

.tag-bk {
  font-family: 'Helvetica Neue', sans-serif;
  color: #fff;
  position: relative;
  display: inline-block;
  padding: 3px 8px;
  color: #fff;
  vertical-align: top;
  border: 1px solid #10121c;
  background: #10121c;
  font-weight: 500;
  border-radius: 20px;
  -webkit-border-radius: 20px;
}

.tag-gold {
  font-family: 'Helvetica Neue', sans-serif;
  position: relative;
  display: inline-block;
  padding: 4px 8px;
  vertical-align: top;
  font-weight: 500;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  background-color: #c0a700;
  border-color: #c0a700;
  background: 0 0;
  color: #c0a700;
  border: 1px solid #c0a700;
}

.hashtag {
  color: #c0a700;
  font-size: 1.0rem;
  font-style: italic;
  padding-right: 0.5rem;
  display: inline-block;
  font-weight: 100;
}

.btn {
  width: 100%;
  font-size: 1.2rem;
  padding: 10rem 0 7rem;
  >a {
    .btn-text {
      position: relative;
      padding-top: 2.6rem;
      display: inline-block;
    }
  }

  &:hover {}
}

/* ＋アイコン(ボタン) */
.btn__plus .btn-text::before,
.btn__plus .btn-text::after {
  position: absolute;
  top: -2.8rem;
  left: 50%;
  content: '';
  display: inline-block;
  width: 20px;
  height: 1px;
  border-top: 1px solid #1a1a1a;
  transform: translateX(-50%);
}
.btn__plus .btn-text::after {
  top: -2.8rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: rotate(90deg);
}

/* ボタンアニメーション */
.btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  background: #f5f5f5;
}
.btn >span {
  position: relative;
  z-index: 3;
}
.bgleft:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: #fff100;
  width: 100%;
  height: 100%;
  transition: transform .3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(0, 1);
  transform-origin: right top;
}
.bgleft:hover:before {
  transform-origin: left top;
  transform: scale(1, 1);
}
.btn2 {
  width: 100%;
  max-width: 40rem;
  font-size: 1.2rem;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  outline: none;
  padding: 1.4rem 0;
  border: 1px solid #1a1a1a;
  line-height: 1.6;
  margin: 0 auto;
  &:hover {
    border: 1px solid #fff100;
    transition: all 0.05s ease;
    box-shadow: 0 0 3rem #999;
  }
}
.btn2 span {
  position: relative;
  z-index: 3;
}


// 別窓アイコン
// .blank-icon {
//   box-sizing: border-box;
//   position: relative;
//   width: 20px;
//   height: 16px;
//   transform: scale(3);
// }
// .blank-icon:before,
// .blank-icon:after {
//   content: "";
//   box-sizing: border-box;
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   border-style: solid;
//   border-color: black;
// }
// .blank-icon:before {
//   top: 0;
//   left: 0;
//   border-width: 3px;
// }
// .blank-icon:after {
//   top: 6px;
//   left: 6px;
//   border-width: 0 3px 3px 0;
// }
// /****** Base style. ******/
// body {
//   display: flex;
//   height: 100vh;
//   justify-content: center;
//   align-items: center;
//   margin: 0;
// }

/*========= ナビゲーション ===============*/
// .mainblur {
//   // background-color: #262a42;
// }

// #g-nav2 {
//   /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
//   position: fixed;
//   z-index: -1;
//   opacity: 0;
//   /*はじめは透過0*/
//   /*ナビの位置と形状*/
//   top: 0;
//   width: 100%;
//   height: 100vh;
//   /*ナビの高さ*/
//   background: rgba(266, 162, 172, 0.8);
//   /*背景を少し透過させる*/
//   /*動き*/
//   transition: all 0.3s;

//   .panelactive {
//     opacity: 1;
//     z-index: 999;
//   }
// }

// /*ナビゲーションの縦スクロール*/
// #g-nav2.panelactive #g-nav2-list {
//   /*ナビの数が増えた場合縦スクロール*/
//   position: fixed;
//   z-index: 999;
//   width: 100%;
//   height: 100vh;
//   /*表示する高さ*/
//   overflow: auto;
//   -webkit-overflow-scrolling: touch;
// }

// /*ナビゲーション*/
// #g-nav2 ul {
//   display: none;
//   /*はじめは非表示*/
//   /*ナビゲーション天地中央揃え*/
//   position: absolute;
//   z-index: 999;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

// #g-nav2.panelactive ul {
//   display: block;
// }

// /*リストのレイアウト設定*/

// #g-nav2 li {
//   list-style: none;
//   text-align: center;
// }

// #g-nav2 li a {
//   color: #fff;
//   text-decoration: none;
//   padding: 10px;
//   display: block;
//   text-transform: uppercase;
//   letter-spacing: 0.1em;
//   font-weight: bold;
// }

// /*========= バーガーメニュー ===============*/
// /*ボタン外側*/
// .openbtn {
//   position: fixed;
//   z-index: 9999;
//   /*ボタンを最前面に*/
//   top: 10px;
//   right: 10px;
//   cursor: pointer;
//   width: 50px;
//   height: 50px;
// }

// /*ボタン内側*/

// .openbtn span {
//   display: inline-block;
//   transition: all 0.4s;
//   /*アニメーションの設定*/
//   position: absolute;
//   left: 13px;
//   height: 3px;
//   background-color: #666;
// }

// .openbtn span:nth-of-type(1) {
//   top: 22px;
//   width: 50%;
// }

// .openbtn span:nth-of-type(2) {
//   top: 29px;
//   width: 30%;
// }

// /*activeクラスが付与されると線が回転して×に*/

// .openbtn.active span:nth-of-type(1) {
//   top: 20px;
//   left: 16px;
//   transform: translateY(6px) rotate(-45deg);
//   width: 35%;
// }

// .openbtn.active span:nth-of-type(2) {
//   top: 32px;
//   left: 16px;
//   transform: translateY(-6px) rotate(45deg);
//   width: 35%;
// }
